# Скрытые файлы окружения (САМОЕ ВАЖНОЕ!)
.env

# Виртуальное окружение
venv/
env/

# Локальная база данных
*.sqlite3
*.db

# Кэш Python
__pycache__/
*.pyc
.pytest_cache/

# Логи
*.log

# Файлы настроек редакторов (VSCode, PyCharm)
.vscode/
.idea/